

<div class="container">
  <form #ngForm="ngForm" (ngSubmit)="AddEmployee()">
    <div class="mb-3 row">
      <label for="inputName" class="col-4 col-form-label">Name</label>
      <div class="col-8">
        <!-- Applying 2way binding to get data render -->
        <input type="text" class="form-control" name="inputName" id="name" placeholder="Name" [(ngModel)]="empl.name">
      </div>
    </div>
    <div class="mb-3 row">
      <label for="inputName" class="col-4 col-form-label">Address</label>
      <div class="col-8">
        <input type="text" class="form-control" name="inputName" id="address" placeholder="address" [(ngModel)]="empl.address">
      </div>
    </div>
    <div class="mb-3 row">
      <label for="inputName" class="col-4 col-form-label">Phone no</label>
      <div class="col-8">
        <input type="text" class="form-control" name="inputName" id="phone" placeholder="phone" [(ngModel)]="empl.phone">
      </div>
    </div>
    <div class="mb-3 row">
      <label for="inputName" class="col-4 col-form-label">Country</label>
      <div class="col-8">
        <input type="text" class="form-control" name="inputName" id="country" placeholder="country" [(ngModel)]="empl.country">
      </div>
    </div>
   
    <div class="mb-3 row">
      <div class="offset-sm-4 col-sm-8">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </form>
</div>

<!-- ..........................table to display all the data.................. -->
<div class="table-responsive-md">
  <table class="table table-striped-columns
  table-hover	
  table-borderless
  table-primary
  align-middle">
    <thead class="table-light">
      
      <tr>
        <th> Name</th>
        <th>Address</th>
        <th>Phone</th>
        <th>Country</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody class="table-group-divider">

        <!-- using structural directive to iterate the data to the table -->
        <tr class="table-primary" *ngFor="let ele of emp">
          <!-- here built in pipe is used for show data in upper case -->
          <td scope="row">{{ele.name|uppercase}}</td>
          <!-- here we passed custom directive -->
          <td appTest>{{ele.address}}</td>
          <td>{{ele.phone}}</td>
          <td>{{ele.country}}</td>
          <td>
            <!-- here using eventbinding to perform (click) operation -->
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalId" (click)="GetCurrentEmployee(ele)">Edit</button>
            <button class="btn btn-danger" (click)="DeleteEmployee(ele.id)">Delete</button>
          </td>
        </tr>
      </tbody>
      <tfoot>
        
      </tfoot>
  </table>
</div>

<!-- ...............modal form for UpdateEmployee data.................. -->
<div class="modal fade" id="modalId" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTitleId">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- using ngforms to take inputs  -->
      <form #ngForm="ngForm" (ngSubmit)="UpdateEmployee()">
        <div>
          <label for="inputName" class="col-4 col-form-label">Name</label>
          <input type="text" class="form-control" name="name" [(ngModel)]="currentData.name">
        </div>
        <div>
          <label for="inputName" class="col-4 col-form-label">Address</label>
          <input type="text" class="form-control" name="address" [(ngModel)]="currentData.address">
        </div>
        <div>
          <label for="inputName" class="col-4 col-form-label">Designation</label>
          <input type="text" class="form-control" name="phone" [(ngModel)]="currentData.phone">
        </div>
        <div>
          <label for="inputName" class="col-4 col-form-label">Experience</label>
          <input type="text" class="form-control" name="country" [(ngModel)]="currentData.country">
        </div>
     
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Save</button>
      </div>
    </form>
  </div>
    </div>
  </div>
</div> 


<!-- Optional: Place to the bottom of scripts -->
<script>
  const myModal = new bootstrap.Modal(document.getElementById('modalId'), options)

</script>


<router-outlet></router-outlet>













<router-outlet></router-outlet>
